* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

ul {
  margin: 1em 2em;
  list-style: none;
}

h1 {
  text-align: center;
}

.leaflet-control-title {
  transform: translate(-50%,-5px);
  position: fixed !important;
  left: 50%;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  background: white;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 4px black;
  color: #333;
}

.leaflet-control-removepoint-button,
.leaflet-control-locate-button,
.leaflet-control-initmap-button,
.leaflet-control-customhelp-button {
  font-size: 1.5em;
  font-weight: bold;
}

.leaflet-control-customhelp-button {
  display: block;
}

.leaflet-control-customhelp {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
}

.leaflet-control-customhelp-section {
    text-align: justify;
}

.leaflet-control-customhelp .leaflet-control-customhelp-section,
.leaflet-control-customhelp-expanded .leaflet-control-customhelp-button {
	display: none;
}

.leaflet-control-customhelp-expanded .leaflet-control-customhelp-section {
	display: block;
	position: relative;
}

.leaflet-control-customhelp-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
    width: 400px;
}
